<form novalidate class="form">


    <div class="ui-status error">
        Se ha procudido un error
    </div>



    <div class="ui-status loading">
        Guardando petición
    </div>



    <div class="ui-status ideal">
        <div class="form-control-group">
            <label for="band">Band</label>
            <input type="text" id="band" name="band" 
            placeholder="Band" required> 
        </div>
        <div class="form-control-group">
            <label for="artist">Artist</label>
            <input type="text" id="artist" name="artist" 
            placeholder="Artist" required>
        </div>
        <div class="form-control-group">
            <label for="tittle">Tittle</label>
            <input type="text" id="tittle" name="tittle" 
            placeholder="Title" required>
        </div>
        <div class="form-control-group">
            <label for="cover_url">Cover URL</label>
            <input type="url" id="cover_url" name="cover_url" 
            placeholder="http://..." required>
        </div>
        <div class="form-control-group">
            <button>Save Song</button>
        </div>


        
    </div>

</form>