<header class="web-header">

<center>
        <div class="image-title">
            <img class="image-title" src="./img/logo.png" height="80" width= "300"alt="No encuentro la imagen">
        </div>
</center>

<br /><br /><br /><br />

<center>
<div class="capçalera">
    
    <table>

    <tr>

    <td><a href="index.html">INICI</a> </td>
    <td><h1 class="web-title"></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
    <td><a href="entradas.html">ENTRADES</a> </td>
    <td><h1 class="web-title"></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
    <td><a href="contacto.html">CONTACTE</a> </td>
    <td><h1 class="web-title"></h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1></td>
    <td><a href="historia.html">DETALL</a> </td>
    
    </tr>

    </table>  
</div>
</center>

<div class="serch">
    <span>Sing in</span>
    <input type="search" class="busquedas" placeholder="Search">
</div>


  
</header>
